<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="/auth/signin" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter Your Email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit" onclick="alertBox()">Sign In</button>
    </form>
    <script>
        async function alertBox() {
            const response = await fetch("http://localhost:3000/auth/dummy", {
                method: "GET"
            })
            // const data = await response.json();
            // console.log(data, "data")

            if(!response.ok){
                const errData = await response.json();
                alert(errData.message)
            }else{
                const data =  await response.json();
                alert(data.message)
            }


            alertBox()
        }
    </script>
</body>
</html>